@if (menu()) {
<div class="wrapper">
  <div class="main-container">
    <div class="meal-update-buttons">
      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          (click)="onUpdateMeal('breakfast')"
        >
          Breakfasts
        </button>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="onUpdateMeal('lunch')">
          Lunches
        </button>
      </div>
      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          (click)="onUpdateMeal('dinner')"
        >
          Dinners
        </button>
      </div>
    </div>
    <div class="meal-plan-list">
      @for (day of menuList(); track day.day) {
      <mat-expansion-panel class="day-card">
        <mat-expansion-panel-header>
          <div class="day-card-content">
            <div class="day-name" (click)="onDayClick(day.day, $event)">
              <h2>{{ day.day }}</h2>
            </div>
            <div class="meals">
              <div
                class="meal"
                (click)="
                  onMealClick(day.day, 'breakfast', day.meals.breakfast.name);
                  $event.stopPropagation()
                "
              >
                <span class="meal-name">{{ day.meals.breakfast.name }}</span>
              </div>
              <mat-divider vertical></mat-divider>
              <div
                class="meal"
                (click)="
                  onMealClick(day.day, 'lunch', day.meals.lunch.name);
                  $event.stopPropagation()
                "
              >
                <span class="meal-name">{{ day.meals.lunch.name }}</span>
              </div>
              <mat-divider vertical></mat-divider>
              <div
                class="meal"
                (click)="
                  onMealClick(day.day, 'dinner', day.meals.dinner.name);
                  $event.stopPropagation()
                "
              >
                <span class="meal-name">{{ day.meals.dinner.name }}</span>
              </div>
            </div>
          </div>
        </mat-expansion-panel-header>

        <div class="ingredients-content">
          <div class="ingredients-grid">
            <div class="meal-ingredients">
              <mat-list>
                @for (ingredient of day.meals.breakfast.ingredients; track
                ingredient.name) {
                <mat-list-item>
                  <div class="ingredient-container">
                    <div class="ingredient-name">{{ ingredient.name }}</div>
                    <div class="ingredient-amount">
                      - {{ ingredient.amount }} {{ ingredient.unit }}
                    </div>
                  </div>
                </mat-list-item>
                }
              </mat-list>
            </div>
            <mat-divider vertical></mat-divider>
            <div class="meal-ingredients">
              <mat-list>
                @for (ingredient of day.meals.lunch.ingredients; track
                ingredient.name) {
                <mat-list-item>
                  <div class="ingredient-container">
                    <div class="ingredient-name">{{ ingredient.name }}</div>
                    <div class="ingredient-amount">
                      - {{ ingredient.amount }} {{ ingredient.unit }}
                    </div>
                  </div>
                </mat-list-item>
                }
              </mat-list>
            </div>
            <mat-divider vertical></mat-divider>
            <div class="meal-ingredients">
              <mat-list>
                @for (ingredient of day.meals.dinner.ingredients; track
                ingredient.name) {
                <mat-list-item>
                  <div class="ingredient-container">
                    <div class="ingredient-name">{{ ingredient.name }}</div>
                    <div class="ingredient-amount">
                      - {{ ingredient.amount }} {{ ingredient.unit }}
                    </div>
                  </div>
                </mat-list-item>
                }
              </mat-list>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      }
    </div>
  </div>
  <div class="side-container">
    <app-prompt-input
      class="prompt-input"
      [placeholder]="'Update the whole meal plan'"
      [suggestionsType]="'generalUpdate'"
      [suggestionsContext]="menuJson()"
      [loading]="promptLoading()"
      (promptSubmit)="onPromptSubmit($event)"
    ></app-prompt-input>
  </div>
</div>

} @else {
<p>No meal plan available</p>
}
